n8n/workflows/image-upscaler.json
{
  "name": "Restaurant Image Upscaler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bfw-upscale-image",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook - Upscale Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bfw-upscale-image"
    },
    {
      "parameters": {
        "url": "={{ $json.body.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "download",
      "name": "Download Original Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token {{ $env.REPLICATE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"version\": \"42fed1c4974146d4d2414e2be2c5277c7fcf05fcc3a73abf41610695738c1d7b\",\n  \"input\": {\n    \"image\": \"data:{{ $binary.data.mimeType }};base64,{{ $binary.data.data }}\",\n    \"scale\": 2,\n    \"face_enhance\": false\n  }\n}",
        "options": {}
      },
      "id": "upscale",
      "name": "Upscale with Real-ESRGAN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "checkStatus",
      "name": "Check Prediction Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "succeeded"
            }
          ]
        }
      },
      "id": "checkComplete",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.output }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "downloadUpscaled",
      "name": "Download Upscaled Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/storage/v1/object/restaurant-images/{{ $('Webhook - Upscale Request').item.json.body.mallSlug }}/{{ $('Webhook - Upscale Request').item.json.body.restaurantSlug }}/upscaled.webp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "image/webp"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "uploadUpscaled",
      "name": "Upload Upscaled to Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "jsCode": "const supabaseUrl = $env.NEXT_PUBLIC_SUPABASE_URL;\nconst webhook = $('Webhook - Upscale Request').item.json.body;\nconst cdnUrl = `${supabaseUrl}/storage/v1/object/public/restaurant-images/${webhook.mallSlug}/${webhook.restaurantSlug}/upscaled.webp`;\n\nreturn {\n  json: {\n    success: true,\n    cdnUrl,\n    mallSlug: webhook.mallSlug,\n    restaurantSlug: webhook.restaurantSlug\n  }\n};"
      },
      "id": "response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respondSuccess",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Processing not complete, status: {{ $json.status }}\"\n}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "respondPending",
      "name": "Respond Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "Webhook - Upscale Request": {
      "main": [
        [
          {
            "node": "Download Original Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Original Image": {
      "main": [
        [
          {
            "node": "Upscale with Real-ESRGAN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upscale with Real-ESRGAN": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Check Prediction Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Prediction Status": {
      "main": [
        [
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Download Upscaled Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Upscaled Image": {
      "main": [
        [
          {
            "node": "Upload Upscaled to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Upscaled to Storage": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
